
body{
overflow: hidden;
}

.main{

	width: 100%;
	height: 100%;
	max-width: 100%;

}

#back{
position: absolute;
height: 100%;
width: 80%;
margin-left: 10%;
z-index: 0;
}

.logo{
	width: 100%;
}

#name{
width: 20%;
position: absolute;
left: 40%;
top:20%;
z-index: 1;

}

#logo{
width: 7%;
position: absolute;
right: 10px;
z-index: 10;
opacity: 1;
	top:10px;

}


.nav{

	width: 100%;
}

#about{

	position: absolute;
	width: 10%;
	left:45%;
	top:38%;
	z-index: 1;

}

#cv{

position: absolute;
	width: 4%;
	left:48%;
	top:44%;
	z-index: 1;

}

#port{

	position: absolute;
	width: 18%;
	left:41%;
	top:50%;
	z-index: 1;

}

#contact{

	position: absolute;
	width: 15%;
	left:42%;
	top:56%;
	z-index: 1;


}

#tagline{

	width: 40%;
	z-index: 2;
	position: absolute;
	top: 95%;
	left: 31%;
}

ul{
	display: inline;
}

#vsco{

	width: 2%;
}

#git{

	width: 3%;
}

#link{
	width: 2%;
}

#be{
		width: 2.2%;


}
#cvback{
	width: 100%;
	z-index: 0;
	padding: 0;
	position: absolute;
	top:0px;
	left: 0px;
}

iframe{
	z-index: 1;
	position: absolute;
	top: 5%;
	left: 25%;
	height: 90%;
}

#aboutback{
	width: 100%;
	height: auto;
	z-index: 0;
	padding: 0;
	position: absolute;
	top:0px;
	left: 0px;
}





.content{
	position: relative;

}


.about h1{
	font-family: "SignPainter", sans-serif;
	z-index: 10;
	color: #FFF;
	font-size: 72px;
	position: absolute;
	top:0%;
	left:15%;
	
	}

#Ima{
	width: 100%;
}

#paragraph1{
  font-size: 34px;
  font-family: "Sinhala Sangam MN";
  color: rgb( 255, 255, 255 );
  font-variant: small-caps;
  line-height: 0.8;
  text-align: center;
  width: 70%;
  z-index: 10;
  position: relative;
  top:120px;
  margin-right: auto;
  margin-left: auto;
}

#aesthete{
  font-size: 48px;
  font-family: "Sinhala Sangam MN";
  color: rgb( 255, 255, 255 );
  font-variant: small-caps;
  line-height: 0.8;
  position: absolute;
  text-align: center;
  top: 0px;
  right:40%;
  border: solid 4px white;
  height: 45px;
  width: 210px;
  display:inline;

}

#lovepos{
	position: relative;
	top:80px;
}

#ilove{

	position: absolute;
	top:100px;
		left: 49%;

}

#love{

  font-size: 32px;
  font-family: "Sinhala Sangam MN";
  color: rgb( 255, 255, 255 );
  text-align: center;
  font-variant: small-caps;
  line-height: 0. 2; 
  z-index: 10;
  position: relative;
  top:205px;
  letter-spacing: 2.5px;
}


#hobbies{

	font-size: 32px;

  font-family: "Sinhala Sangam MN";
  color: rgb( 255, 255, 255 );
  font-variant: small-caps;
  line-height: 0.2;
    z-index: 10;
    position: relative;
    top:200;
    left:150px;

}

#myhobbies li{

 display: inline;
  list-style-type: none;
  padding-right: 50px;

}

#myhobbies{

	position: relative;
	left:300px;
	top:200px;
}


#map{

	position: relative;
	top:250px;
	left:250px;
}

#travelling{

	position: relative;
	top:250px;
	left:550px;
  font-weight: bold;
}

form{
	position: relative;
	z-index: 10;
	text-align: right;
	right: 40%;
}


h1{
	position: relative;
	
  text-align: center;
}

#form{
	z-index: 10;
	color: #FFF;
  font-family: "Sinhala Sangam MN";
  color: rgb( 255, 255, 255 );
  font-variant: small-caps;
  line-height: 0.8;
  position: relative;
  top:100px;
}

.input-space{
width: 200px;
}
.input-box{
	width: 200px;
	height: 100px;
}

#form a{
	color:#FFF;
}

#thankyou{
	text-align: center;
}